<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">{{plugin.name}}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Actions
      </div>
      <div ng-click="action(name)" class="item item" ng-repeat="(name, a) in plugin.actions">
        <h2>{{name}}</h2>
        <p>{{a.help}}</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Sensors
      </div>
      <div ng-click="sensor(name)" class="item item" ng-repeat="(name, s) in plugin.sensors">
        <h2>{{name}}</h2>
        <p>{{s.help}}</p>
        <span class="badge badge-light">{{s.type}}</span>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Configurations
      </div>
      <div class="item item" ng-repeat="(name, c) in plugin.config">
        <h2>{{name}}: {{c.default}}</h2>
        <p>{{c.help}}</p>
        <span class="badge badge-light">{{c.type}}</span>
      </div>
    </div>
    <div ng-click="remove(plugin)" class="button button-full button-assertive">Delete/remove this plugin</div>
  </ion-content>
</ion-pane>
